
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1486902516679'); /* IE9*/
  src: url('iconfont.eot?t=1486902516679#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1486902516679') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1486902516679') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1486902516679#iconfont') format('svg'); /* iOS 4.1- */
}

.icon-weixin-o, .icon-weixin, .icon-appstore, .icon-apple, .icon-android, .icon-aliwangwang-o, .icon-aliwangwang 
.icon-apple-o, icon-appstore-o, .icon-arrow-down, .icon-area-chart, .icon-arrow-left, .icon-arrow-right,
.icon-arrow-salt, .icon-fast-banckward, .icon-bar-chart, .icon-bars, .icon-bars-chart,
.icon-arrow-up, .icon-book, .icon-bulb, .icon-calculator, .icon-camera-o, .icon-calendar,
.icon-circle-up-o, .icon-camera, .icon-caret-left, .icon-caret-down, .icon-caret-right, .icon-caret-up,
.icon-chec, .icon-check-circle, .icon-check-circle-o, .icon-check-square-o, .icon-check-square, .icon-clock-circle,
.icon-close, .icon-clock-circle-o, .icon-close-circle, .icon-close-circle-o, .icon-close-square-o, .icon-close-square,
.icon-cloud, .icon-cloud-download, .icon-cloud-download-o, .icon-cloud-upload, .icon-cloud-o, .icon-code-square, .icon-cloud-upload-o,
.icon-copy, .icon-code-square-o, .icon-credit-card, .icon-dislike-o, .icon-delete, .icon-dislike, .icon-customer-service,
.icon-double-right, .icon-down-square-o, .icon-double-left, .icon-down, .icon-down-circle, .icon-down-circle-o,
.icon-download, .icon-down-square, .icon-edit, .icon-ellipsis, .icon-enter, .icon-enviroment, .icon-exclamation,
.icon-exception, .icon-exclamation-circle, .icon-enviroment-o, .icon-exclamation-circle-o, .icon-excle-file,
.icon-export, .icon-eye, .icon-export1, .icon-fast-forward, .icon-eye-o, .icon-fast-backward, .icon-file,
.icon-filet-ext, .icon-filter, .icon-forward, .icon-frown-o, .icon-folder, .icon-folder-open, .icon-frown,
.icon-github, .icon-hdd, .icon-heart, .icon-heart-o, .icon-in-box, .icon-home, .icon-desktop, .icon-ie,
.icon-info, .icon-info-cirlce-o, .icon-info-cirlce, .icon-jpg-file, .icon-left, .icon-left-circle,
.icon-laptop, .icon-left-circle-o, .icon-left-square, .icon-left-square-o, .icon-like-o, .icon-like,
.icon-line-chart, .icon-link, .icon-lock, .icon-logout, .icon-mail, .icon-meh, .icon-meh-o, .icon-menu-fold,
.icon-menu-unfold, .icon-minus, .icon-minus-circle, .icon-minus-circle-o, .icon-message, .icon-minus-square, .icon-minus-square-o,
.icon-mobile, icon-notification, icon-paperclip, .icon-pause, .icon-pause-circle, .icon-pause-circle-o,
.icon-pay-circle, .icon-pay-circle-o, .icon-pdf-file, .icon-phone, .icon-pie-chart, .icon-picture,
.icon-play, .icon-play-circle-o, .icon-plus, .icon-plus-circle, .icon-plus-circle-o, .icon-plus-square, .icon-plus-square-o,
.icon-power-off, .icon-ppt-file, .icon-pushpin-o, .icon-pushpin, .icon-qrcode, .icon-question, .icon-question-circle, .icon-question-circle-o,
.icon-reload, .icon-right-circle, .icon-right, .icon-retweet, icon-right-circle-o, .icon-right-square-o, .icon-right-square,
.icon-save, .icon-rollback, .icon-search, .icon-setting, .icon-shrink, .icon-step-backward, .icon-step-forward, .icon-swap-right, .icon-swap, .icon-swap-left,
.icon-totop, .icon-up, .icon-up-circle, .icon-up-circle-o, .icon-up-square, .icon-upload, .icon-up-square-o,
.icon-sharealt, .icon-scan, .icon-shopping-cart, .icon-smile-circle, .icon-smile-o,
.icon-star, .icon-star-o, .icon-solution, .icon-tablet, .icon-tag, .icon-tag-o, .icon-tags,
.icon-tags-o, .icon-team, .icon-verticle-left, .icon-verticle-right, .icon-unknow-file, .icon-unlock, .icon-user, .icon-video-camera, .icon-windows, .icon-windows-o,
.icon-word-file, icon-x {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

／* 方向类 *／
.icon-arrow-down:before { content: "\e608"; }
.icon-arrow-left:before { content: "\e60a"; }
.icon-arrow-right:before { content: "\e60b"; }
.icon-arrow-salt:before { content: "\e60c"; }
.icon-fast-banckward:before { content: "\e60d"; }
.icon-arrow-up:before { content: "\e611"; }
.icon-circle-up-o:before { content: "\e617"; }
.icon-caret-left:before { content: "\e619"; }
.icon-caret-down:before { content: "\e61a"; }
.icon-caret-right:before { content: "\e61b"; }
.icon-caret-up:before { content: "\e61c"; }
.icon-circle-down:before { content: "\e623"; }
.icon-circle-down-o:before { content: "\e624"; }
.icon-double-right:before { content: "\e63b"; }
.icon-down-square-o:before { content: "\e63c"; }
.icon-double-left:before { content: "\e63d"; }
.icon-down:before { content: "\e63e"; }
.icon-down-circle:before { content: "\e63f"; }
.icon-down-circle- o:before { content: "\e640"; }
.icon-down-square:before { content: "\e642"; }
.icon-fast-forward:before { content: "\e650"; }
.icon-forward:before { content: "\e656"; }
.icon-left:before { content: "\e667"; }
.icon-left-circle:before { content: "\e668"; }
.icon-left-circle-o:before { content: "\e66a"; }
.icon-left-square:before { content: "\e66b"; }
.icon-left-square-o:before { content: "\e66c"; }
.icon-play:before { content: "\e68d"; }
.icon-play-circle-o:before { content: "\e68f"; }
.icon-right:before { content: "\e69d"; }
.icon-right-circle:before { content: "\e69e"; }
.icon-retweet:before { content: "\e69f"; }
.icon-right-circle-o:before { content: "\e6a0"; }
.icon-right-square:before { content: "\e6a1"; }
.icon-right-square-o:before { content: "\e6a2"; }
.icon-rollback:before { content: "\e6a4"; }
.icon-shrink:before { content: "\e6ab"; }
.icon-step-backward:before { content: "\e6b1"; }
.icon-step-forward:before { content: "\e6b2"; }
.icon-swap-right:before { content: "\e6b3"; }
.icon-swap:before { content: "\e6b4"; }
.icon-swap-left:before { content: "\e6b7"; }
.icon-totop:before { content: "\e6bb"; }
.icon-up:before { content: "\e6c0"; }
.icon-up-circle:before { content: "\e6c1"; }
.icon-upload:before { content: "\e6c2"; }
.icon-up-circle-o:before { content: "\e6c3"; }
.icon-up-square:before { content: "\e6c4"; }
.icon-up-square-o:before { content: "\e6bd"; }
.icon-verticle-left:before { content: "\e6c6"; }
.icon-verticle-right:before { content: "\e6c7"; }

／* 提示建议 *／
.icon-check:before { content: "\e61d"; }
.icon-check-circle:before { content: "\e61e"; }
.icon-check-circle-o:before { content: "\e61f"; }
.icon-check-square-o:before { content: "\e620"; }
.icon-check-square:before { content: "\e621"; }
.icon-close:before { content: "\e626"; }
.icon-close-circle:before { content: "\e628"; }
.icon-close-circle-o:before { content: "\e629"; }
.icon-close-square-o:before { content: "\e62a"; }
.icon-close-square:before { content: "\e62b"; }
.icon-cloud:before { content: "\e62c"; }
.icon-cloud-download:before { content: "\e62d"; }
.icon-cloud-download-o:before { content: "\e62e"; }
.icon-cloud-upload:before { content: "\e62f"; }
.icon-cloud-o:before { content: "\e630"; }
.icon-cloud-upload-o:before { content: "\e632"; }
.icon-copy:before { content: "\e633"; }
.icon-delete:before { content: "\e637"; }
.icon-download:before { content: "\e641"; }
.icon-edit:before { content: "\e643"; }
.icon-enter:before { content: "\e645"; }
.icon-exclamation:before { content: "\e647"; }
.icon-exception:before { content: "\e648"; }
.icon-exclamation-circle:before { content: "\e649"; }
.icon-exclamation-circle-o:before { content: "\e64b"; }
.icon-export:before { content: "\e64d"; }
.icon-export1:before { content: "\e64f"; }
.icon-info:before { content: "\e663"; }
.icon-info-cirlce-o:before { content: "\e664"; }
.icon-info-cirlce:before { content: "\e665"; }
.icon-menu-fold:before { content: "\e679"; }
.icon-menu-unfold:before { content: "\e67a"; }
.icon-minus:before { content: "\e67b"; }
.icon-minus-circle:before { content: "\e67c"; }
.icon-minus-circle-o:before { content: "\e67d"; }
.icon-minus-square:before { content: "\e67f"; }
.icon-minus-square-o:before { content: "\e680"; }
.icon-notification:before { content: "\e682"; }
.icon-pause:before { content: "\e684"; }
.icon-pause-circle:before { content: "\e685"; }
.icon-pause-circle-o:before { content: "\e686"; }
.icon-plus:before { content: "\e68e"; }
.icon-plus-circle:before { content: "\e690"; }
.icon-plus-circle-o:before { content: "\e691"; }
.icon-plus-square:before { content: "\e692"; }
.icon-plus-square-o:before { content: "\e693"; }
.icon-power-off:before { content: "\e694"; }
.icon-question:before { content: "\e699"; }
.icon-question-circle:before { content: "\e69a"; }
.icon-question-circle-o:before { content: "\e69c"; }
.icon-reload:before { content: "\e69b"; }
.icon-save:before { content: "\e6a3"; }
.icon-setting:before { content: "\e6aa"; }

／* 其他 *／
.icon-weixin-o:before { content: "\e6cd"; }
.icon-weixin:before { content: "\e6ce"; }
.icon-appstore:before { content: "\e601"; }
.icon-apple:before { content: "\e602"; }
.icon-android:before { content: "\e603"; }
.icon-aliwangwang-o:before { content: "\e604"; }
.icon-aliwangwang:before { content: "\e605"; }
.icon-apple-o:before { content: "\e606"; }
.icon-appstore-o:before { content: "\e607"; }
.icon-area-chart:before { content: "\e609"; }
.icon-bar-chart:before { content: "\e60e"; }
.icon-bars:before { content: "\e60f"; }
.icon-bars-chart:before { content: "\e610"; }
.icon-book:before { content: "\e612"; }
.icon-bulb:before { content: "\e613"; }
.icon-calculator:before { content: "\e614"; }
.icon-camera-o:before { content: "\e615"; }
.icon-calendar:before { content: "\e616"; }
.icon-camera:before { content: "\e618"; }
.icon-chrome:before { content: "\e622"; }
.icon-clock-circle:before { content: "\e625"; }
.icon-clock-circle-o:before { content: "\e627"; }
.icon-code-square:before { content: "\e631"; }
.icon-code-square-o:before { content: "\e634"; }
.icon-credit-card:before { content: "\e635"; }
.icon-dislike-o:before { content: "\e636"; }
.icon-dislike:before { content: "\e639"; }
.icon-like-o:before { content: "\e66d"; }
.icon-like:before { content: "\e66e"; }
.icon-dot-chart:before { content: "\e638"; }
.icon-customer-service:before { content: "\e63a"; }
.icon-ellipsis:before { content: "\e644"; }
.icon-enviroment:before { content: "\e646"; }
.icon-enviroment-o:before { content: "\e64a"; }
.icon-excle-file:before { content: "\e64c"; }
.icon-eye:before { content: "\e64e"; }
.icon-eye-o:before { content: "\e651"; }
.icon-fast-backward:before { content: "\e652"; }
.icon-file:before { content: "\e653"; }
.icon-filet-ext:before { content: "\e654"; }
.icon-filter:before { content: "\e655"; }
.icon-frown-o:before { content: "\e657"; }
.icon-folder:before { content: "\e658"; }
.icon-folder-open:before { content: "\e659"; }
.icon-frown:before { content: "\e65a"; }
.icon-github:before { content: "\e65b"; }
.icon-hdd:before { content: "\e65c"; }
.icon-heart:before { content: "\e65d"; }
.icon-heart-o:before { content: "\e65e"; }
.icon-in-box:before { content: "\e65f"; }
.icon-home:before { content: "\e660"; }
.icon-desktop:before { content: "\e661"; }
.icon-ie:before { content: "\e662"; }
.icon-jpg-file:before { content: "\e666"; }
.icon-laptop:before { content: "\e669"; }
.icon-line-chart:before { content: "\e66f"; }
.icon-link:before { content: "\e670"; }

/*
.icon-loading:before { content: "\e671"; }
.icon-loading1:before { content: "\e672"; }
.icon-lock:before { content: "\e673"; }
*/

.icon-lock:before { content: "\e674"; }
.icon-logout:before { content: "\e675"; }
.icon-mail:before { content: "\e676"; }
.icon-meh:before { content: "\e677"; }
.icon-meh-o:before { content: "\e678"; }
.icon-message:before { content: "\e67e"; }
.icon-mobile:before { content: "\e681"; }
.icon-paperclip:before { content: "\e683"; }
.icon-pay-circle:before { content: "\e687"; }
.icon-pay-circle-o:before { content: "\e688"; }
.icon-pdf-file:before { content: "\e689"; }
.icon-phone:before { content: "\e68a"; }
.icon-pie-chart:before { content: "\e68b"; }
.icon-picture:before { content: "\e68c"; }
.icon-ppt-file:before { content: "\e695"; }
.icon-pushpin-o:before { content: "\e696"; }
.icon-pushpin:before { content: "\e697"; }
.icon-qrcode:before { content: "\e698"; }
.icon-search:before { content: "\e6a5"; }
.icon-select:before { content: "\e6a6"; }
.icon-sharealt:before { content: "\e6a7"; }
.icon-scan:before { content: "\e6a8"; }
.icon-shopping-cart:before { content: "\e6a9"; }
.icon-smile-circle:before { content: "\e6ac"; }
.icon-smile-o:before { content: "\e6ad"; }
.icon-star:before { content: "\e6ae"; }
.icon-star-o:before { content: "\e6af"; }
.icon-solution:before { content: "\e6b0"; }
.icon-tablet:before { content: "\e6b5"; }
.icon-tag:before { content: "\e6b6"; }
.icon-tag-o:before { content: "\e6b8"; }
.icon-tags:before { content: "\e6b9"; }
.icon-tags-o:before { content: "\e6ba"; }
.icon-team:before { content: "\e6bc"; }
.icon-unknow-file:before { content: "\e6be"; }
.icon-unlock:before { content: "\e6bf"; }
.icon-user:before { content: "\e6c5"; }
.icon-video-camera:before { content: "\e6c8"; }
.icon-windows:before { content: "\e6c9"; }
.icon-windows-o:before { content: "\e6ca"; }
.icon-x:before { content: "\e6cb"; }
.icon-word-file:before { content: "\e6cc"; }
